---
import '../scss/home.scss';
import '../scss/prism.scss';
import '../scss/prismLight.scss';
import Layout from '../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';

import CmdPaletted from '../components/AstroReactPalette';

import * as codeInstall from './exampleInstall.md';
import * as codejsx from './exampleJSX.md';
import * as codescss from './exampleSCSS.md';

---

<Layout title="CmdPalette">
	<CmdPaletted client:only="react" />
	<header>
		<img src="/cmdPaletteLogo.png" height='128px' />
		<h1>CmdPalette</h1>
		<h2>A Command Palette for your webapp or website</h2>
	</header>
	<main>
		<p>
			CmdPalette is a command palette for your webapp or website. 
			It's a simple way to add a keyboard shortcut to your webapp or website that can allow you to quickly navigate to different pages or perform actions.
		</p>

		Try it now, press <kbd>Ctrl</kbd>+<kbd>i</kbd> or <kbd>Cmd</kbd>+<kbd>i</kbd> to open the palette.

		<div id="selectedCmdElement" class="hide">hi</div>

		<h3>Install</h3>

		<codeInstall.Content />

		<h3>Usage</h3>

		<p>Include in your <b>App.jsx</b></p>

		<codejsx.Content />

		<h3>Styles</h3>
		<p>By default CmdPalette is unstyled, add your own styles by doing somethiing similar to this <b>palette.module.scss</b> example</p>

		<codescss.Content />

	</main>
</Layout>
