header {
  padding-top: 2em;
  text-align: center;
}

main {
  max-width: 700px;
  margin: auto;
}

#selectedCmdElement {
  &.hide {
    display: none;
  }

  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 1em 2em;
  margin: 1em;
  font-size: 1.5em;
}
